<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<form>
  <div class="form-group">
    <%= f.text_field :author, class: "form-control form-control-inline", placeholder: "Commenter Name" %> <!--checked-->
  </div>

  <div class="form-group cant-see-me">
    <%= f.number_field :user_id, value: current_user.id %> <!--checked-->
  </div>

  <div class="form-group form-control-inline">
    <%= f.text_area :comment_entry, class: "form-control form-control-inline", :rows => 10, placeholder: "What are your thoughts?" %>  <!--checked 2-->
  </div>

  <div class="form-group cant-see-me">
    <%= f.number_field :blog_post_id, value: @blog_post.id %> <!--checked 2-->
  </div>

  <p></p>
  <div class="actions">
    <%= f.submit "SUBMIT IT!", class: "btn btn-primary"%>
  </div>
 
</form>


<% end %>
