<p id="notice"><%= notice %></p>
<h1>Current Blog Posts</h1>

<p><%= @blog_post.blog_entry %>

<div class="row"> 
	  <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-body">
        	<% @blog_post.comments.each do |comment| %> 
          by <%= comment.author %> <br />
          <p><%= comment.comment_entry %></p>
        	<% end %>
        </div>
   				
    </div> <!-- end of panel panel -->
    </div> <!-- end of column -->
  
</div> <!-- end of row -->
<br>

<div>
	<%= render 'comments/form' %>
</div>

<div>
<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> 
<%= link_to 'Back', blog_posts_path %>
</div>
